<h1>All htmlTwitter Users</h1>
<ul>
	<% @users.each do |user| %>
	<li><%= link_to user.username, user_path(user) %></li>
	<% user.tweets.each do |tweet| %>
	<%= tweet.content %></p>
	<% end %>
	<% end %>
</ul>